{
	email admin@suitit.tech
}

(security_headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
	}
}

suitit.tech, www.suitit.tech {
	import security_headers

	handle /oauth2/* {
		reverse_proxy portal-oauth-proxy:4180
	}

	handle {
		forward_auth portal-oauth-proxy:4180 {
			uri /oauth2/auth
			copy_headers X-Auth-Request-User X-Auth-Request-Email
		}
		root * /srv/portal
		file_server
	}
}

chat.suitit.tech {
	import security_headers
	reverse_proxy mattermost:8065
}

meet.suitit.tech {
	import security_headers

	handle /http-bind* {
		reverse_proxy prosody:5280
	}

	handle /xmpp-websocket* {
		reverse_proxy prosody:5280
	}

	handle /oauth2/* {
		reverse_proxy jitsi-oauth-proxy:4181
	}

	handle {
		forward_auth jitsi-oauth-proxy:4181 {
			uri /oauth2/auth
			copy_headers X-Auth-Request-User X-Auth-Request-Email
		}
		reverse_proxy jitsi-web:80
	}
}

auth.suitit.tech {
	redir https://sso.suitit.tech{uri} permanent
}

mail.suitit.tech {
	import security_headers
	reverse_proxy host.docker.internal:8443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}
