{
	email admin@suitit.tech
}

(security_headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
	}
}

suitit.tech, www.suitit.tech {
	import security_headers
	reverse_proxy portal-oauth-proxy:4180
}

chat.suitit.tech {
	import security_headers
	reverse_proxy mattermost:8065
}

meet.suitit.tech {
	import security_headers

	handle /http-bind* {
		reverse_proxy prosody:5280
	}

	handle /xmpp-websocket* {
		reverse_proxy prosody:5280
	}

	handle /oauth2/* {
		reverse_proxy jitsi-oauth-proxy:4181
	}

	handle {
		reverse_proxy jitsi-oauth-proxy:4181
	}
}

auth.suitit.tech {
	redir https://sso.suitit.tech{uri} permanent
}

mail.suitit.tech {
	import security_headers
	reverse_proxy host.docker.internal:8443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

files.suitit.tech {
	import security_headers

	handle /oauth2/* {
		reverse_proxy onlyoffice-oauth-proxy:4182
	}

	handle {
		reverse_proxy onlyoffice-oauth-proxy:4182 {
			header_up X-Forwarded-Proto {scheme}
			header_up X-Forwarded-Host {host}
		}
	}
}
